<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="bg-white text-black font-sans">
    <%- include('partials/header') %>

    <div class="min-h-screen text-gray-900 flex justify-center">
        <div class="max-w-screen-lg m-0 sm:m-10 sm:rounded-lg flex items-center justify-center">
            <div class="p-6 sm:p-12">
                <h1 class="text-2xl xl:text-3xl font-extrabold">
                    <%= title %>
                </h1>
                <p class="mt-4 text-lg">
                    <%= message %>
                </p>
                <% if(redirectUrl){ %>
                <a href="<%= redirectUrl %>" class="mt-6 text-blue-500 underline">
                    <%= buttonText %>
                </a>
                <% }%>
                    <span id="jwt-token" 
                          data-access-token="<%= token %>" 
                          data-refresh-token="<%= refreshToken %>" 
                          style="display: none;">
                    </span>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="message.js"></script>
</body>
</html>
