<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <style>
    .selected {
    border-width: 2px;
    border-color: rgb(10, 170, 223);
    box-shadow: 2px 2px 5px rgb(10, 170, 223);
    }
  </style>
</head>

<body class="bg-gray-100 text-black font-sans">
  <%- include('partials/header') %>

    <div class="container mx-auto">
      <div class="max-w-4xl mx-auto m-6 px-6">
        <div class="-mx-4">
          <!-- Product Image Carousel -->
          <%- include('partials/productsCarousel', { product: product }) %>

            <!-- Product Details -->
            <p class="mt-6 text-3xl font-bold text-gray-900">
              <%= product.name %>
            </p>
            <p class="text-gray-700 mt-4">
              <%= product.description %>
            </p>

            <!-- Colors -->
            <div class="flex free">
              <span class="my-2 text-2xl free">Color : </span>
              <% if (product.variants && product.variants.length> 0) { %> <% product.variants.forEach((variant)=> { %>
                  <button class="color-option border-gray-200 rounded-full w-8 h-8 mx-1 my-2 border-black border free"
                    style='background-color: <%= variant.color.toLowerCase() %>' data-color="<%= variant.color %>"
                    data-images="<%= JSON.stringify(variant.images) %>"
                    data-sizes="<%= JSON.stringify(variant.sizes) %>"></button>
                  <% }) %>
                    <% } else { %>
                      <span> - - - - - </span>
                      <% } %>
            </div>

            <!-- Sizes (Initially showing first variant's sizes) -->
            <!-- Sizes -->
            <div class="flex free" id="size-container">
              <% if (product.variants && product.variants.length> 0) { %> <% product.variants.forEach((variant)=> { %>
                  <div class="size-options hidden free" data-color="<%= variant.color %>">
                    <% variant.sizes.forEach((size)=> { %>
                      <button
                        class="border-gray-200 size-option free rounded text-2xl font-semibold text-center px-2 pt-1 mx-1 my-2 border-black border"
                        data-size="<%= size.size %>" data-stock="<%= size.stock %>">
                        <%= size.size %>
                      </button>
                      <% }) %>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <span> - - - - - </span>
                      <% } %>
            </div>

            <!-- Price -->
             <div class="flex items-center gap-2">
            <p class="my-4 mx-2 text-3xl font-semibold italic">
              Rs <%= product.price %>
            </p>
            <p class="text-base line-through text-red-400 free italic">Rs 4999</p>
          </div>

            <!-- Buttons -->
            <div class="px-4 py-1">
              <button
                class="mr-3 btn-xs text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 add-in-bag"
                data-product="<%= JSON.stringify(product) %>">
                Add In Bag 
              </button>
              <button id="checkAuthorization"
                class="btn-xs px-5 py-2.5 bg-blue-600 font-medium text-white rounded-lg hover:bg-blue-700 transition duration-300 text-sm"
                data-product-id="<%= product ? product._id : '' %>">
                Checkout
              </button>
            </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

      <script src="script.js"></script>
      <script src="shopping.js"></script>
      <script src="authentication.js"></script>
</body>

</html>