<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <style>
      .selected {
        border-width: 2px;
        border-color: blue;
        box-shadow: 3px 3px 5px skyblue;
      }
    </style>
</head>

<body class="bg-gray-100 text-black font-sans">
  <%- include('partials/header') %>

    <div class="container mx-auto">
      <div class="max-w-4xl mx-auto mt-6 px-6">
        <div class="-mx-4">
          <p class="mt-6 text-3xl font-bold text-gray-900">
            <%= product.name %>
          </p>
          <p class="text-gray-700 my-4">
            <%= product.description %>
          </p>

          <!-- Product Image Carousel -->
          <%- include('partials/productsCarousel', { product: product }) %>

            <!-- Color Buttons -->
            <div class="flex free">
              <span class="my-2 text-2xl free">Color : </span>
              <% if (product.variants && product.variants.length> 0) { %>
                <% product.variants.forEach((variant)=> { %>
                  <button class="color-option border-gray-400 rounded-full w-8 h-8 mx-1 my-2 border free"
                    style="background-color: <%= variant.color.toLowerCase() %>;" data-color="<%= variant.color %>"
                    data-images="<%= JSON.stringify(variant.images).replace(/" /g, '&quot;' ) %>"
                    data-sizes="<%= JSON.stringify(variant.sizes).replace(/"/g, '&quot;' ) %>">
                  </button>
                  <% }); %>
                    <% } else { %>
                      <span> - - - - - </span>
                      <% } %>
            </div>

            <!-- Sizes Section -->
            <div class="flex free" id="size-container">
              <span class="my-2 text-2xl free">Size : </span>
              <% if (product.variants && product.variants.length> 0) { %>
                <% product.variants.forEach((variant)=> { %>
                  <div class="size-options hidden free" data-color="<%= variant.color %>">
                    <% variant.sizes.forEach((size)=> { %>
                      <button
                        class="size-option free rounded text-2xl font-semibold text-center px-2 pt-1 mx-1 my-2 border"
                        data-size="<%= size.size %>" data-stock="<%= size.stock %>">
                        <%= size.size %>
                      </button>
                      <% }); %>
                  </div>
                  <% }); %>
                    <% } else { %>
                      <span> - - - - - </span>
                      <% } %>
            </div>

            <!-- Hidden Inputs -->
            <input type="hidden" id="selectedColorInput" name="selectedColor" value="">
            <input type="hidden" id="selectedSizeInput" name="selectedSize" value="">

            <!-- Price -->
            <div class="flex items-center gap-2">
              <p class="my-4 mx-2 text-3xl font-semibold italic">
                Rs <%= product.price %>
              </p>
              <p class="text-base line-through text-red-400 free italic">Rs 4999</p>
            </div>

            <!-- Buttons -->
            <div class="px-4 py-1 flex flex-wrap">
              <!-- Add In Bag Button -->
              <button
                class="mt-3 mr-3 w-80 free btn-xs text-white bg-yellow-400 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800 add-in-bag"
                data-product="<%= JSON.stringify(product) %>" data-action="add">
                Add In Bag
              </button>

              <!-- Checkout Button -->
              <button
                class="mt-3 w-80 free btn-xs text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 add-in-bag"
                data-product="<%= JSON.stringify(product) %>" data-product-id="<%= product ? product._id : '' %>"
                data-action="checkout">
                Checkout
              </button>
            </div>

            <div class="my-5">
              <h5 class="text-xl font-semibold italic">Product Details</h5>
              <p class="mt-1 italic"> <span class="text-2xl">•</span>
                <%= product.product_details%>
              </p>
            </div>
        </div>

        <h5 class="text-2xl mt-6 font-semibold">Reviews</h5>
        <hr class="free h-1 bg-gray-400 border-0 rounded">

        <article class="p-6 rounded-2xl">
          <div
            class="border border-blue-400 rounded-full py-1 shadow-md free cursor-pointer text-center float-right relative flex justify-center items-center">
            <i class="text-blue-600 w-24 fas fa-plus free" title="add review"> </i></div>
          <div class="flex items-center mb-4">
            <img class="w-10 h-10 me-4 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="">
            <div class="font-medium dark:text-white">
              <p>Jese Leos <time datetime="2014-08-16 19:00"
                  class="block text-sm text-gray-500 dark:text-gray-400">Joined on August 2014</time></p>
            </div>
          </div>
          <p class="mb-2 text-gray-500 dark:text-gray-400">This is my third Invicta Pro Diver. They are just fantastic
            value for money. This one arrived yesterday and the first thing I did was set the time, popped on an
            identical strap from another Invicta and went in the shower with it to test the waterproofing.... No
            problems.</p>
          <p class="mb-3 text-gray-500 dark:text-gray-400">It is obviously not the same build quality as those very
            expensive watches. But that is like comparing a Citroën to a Ferrari. This watch was well under £100! An
            absolute bargain.</p>
          <a href="#"
            class="free underline block mb-5 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">Read
            more</a>
        </article>
      </div>
    </div>

    <%- include('partials/footer') %>

      <script src="script.js"></script>
      <script src="shopping.js"></script>
</body>

</html>